/moodlePadres/moodlePadres/target/
/moodlePadres/ObjetoNegocioMoodlePadres/target/
/PersistenciaMoodlePadres/target/
/ControlEscolar/target/
/DominioBroker/target/
/Negocio/target/
/ServicioPadres_1/nbproject/private/
/MensajeriaA/target/
/MensajeriaB/target/
/Mensajes/nbproject/private/
/Mensajes/node_modules/
/Mensajeria/MensajeriaA/target/
/Mensajeria/MensajeriaB/target/
/Mensajeria/Mensajes/nbproject/private/
/Mensajeria/Mensajes/node_modules/
/ControlEscolarWeb/target/
